{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} &mdash; NUDA</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
    <style>
.frame, #logo_wrap {
    background:
        linear-gradient(#fafafa ,#fafafa),
        linear-gradient(100deg, {{lenka.get_color}}, {{lenka.get_color}} 49.9%, {{ondrej.get_color}} 50%, {{ondrej.get_color}} 100%) no-repeat;
    background-clip: content-box, border-box;
}
.gradient {
    color: transparent;
    text-align: center;
    overflow:hidden;
    background: linear-gradient(100deg, {{lenka.get_color}}, {{lenka.get_color}} 49.9%, {{ondrej.get_color}} 50%, {{ondrej.get_color}} 100%) no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text, #logo_dot {
    text-align: center;
    color: #fafafa;
    background: linear-gradient(100deg, {{lenka.get_color}}, {{lenka.get_color}} 49.9%, {{ondrej.get_color}} 50%, {{ondrej.get_color}} 100%) no-repeat;
}
    </style>
</head>
<body>
    <script>
var work_index = 0;
var work_gall = [];
var work_text_h = [];
var work_text_p = [];
var hashes = ['#prace','#my','#nuda'];

scroll_to_hash = function(hash){
    if( $.inArray(hash,hashes)==-1){
      hash = hashes[0];
    }
    if( hash!='#my' ){
        $('#header_wrap').removeClass('shadow');
    };
    $('html, body').animate({
        scrollTop: $(hash).offset().top
    }, 400, function(){
        window.location.hash = hash;
        if( hash=='#my' ){
            $('#header_wrap').addClass('shadow');
        };
        refresh_colors();
    });
    $('#menu a[href="'+hash+'"]').addClass('active');
    $('#menu a[href!="'+hash+'"]').removeClass('active');
}

next_work = function(){
    $('#gall').html("");
    $('#gall').append(work_gall[work_index]);
    $('#text_h').html(work_text_h[work_index]);
    $('#text_p').html(work_text_p[work_index]);
    $('#text').html($('#text').html());
    work_index = (work_index+1)%{{work_list|length}};
}

refresh_colors = function(){
    $('.refresh_colors').each(function(){
        var position = $(this).offset();
        $(this).css({
            "background-position" : "-"+(position.left - $(window).scrollLeft())+"px -"+(position.top - $(window).scrollTop())+"px",
            "background-size" : $(window).width()+"px "+$(window).height()+"px",
        });
    });
}

function initMap() {
  // Styles a map in night mode.
  var styledMapType = new google.maps.StyledMapType([
      {
        elementType: "geometry",
        stylers: [ { color: "#b7b7b7" } ]
      }, {
        elementType: "labels.icon",
        stylers: [ { visibility: "off" } ]
      }, {
        elementType: "labels.text.fill",
        stylers: [ { color: "#616161" } ]
      }, {
        elementType: "labels.text.stroke",
        stylers: [ { color: "#f5f5f5" } ]
      }, {
        featureType: "road",
        stylers: [ { color: "#ffffff" } ]
      }, {
        featureType: "road",
        elementType: "geometry",
        stylers: [ { color: "#ffffff" }, { visibility: "on" } ]
      }, { featureType: "road",
        elementType: "geometry.fill",
        stylers: [ { color: "#ffffff" } ]
      }, {
        featureType: "road.arterial",
        elementType: "geometry",
        stylers: [ { color: "{{ lenka.get_color }}" } ]
      }, {
        featureType: "road.arterial",
        elementType: "labels.text",
        stylers: [ { "weight": 7 } ]
      }, {
        featureType: "road.arterial",
        elementType: "labels.text.stroke",
        stylers: [ { color: "{{ lenka.get_color }}" } ]
      }, {
        featureType: "road.highway",
        elementType: "geometry",
        stylers: [ { color: "{{ ondrej.get_color }}" } ]
      }, {
        featureType: "road.highway",
        elementType: "labels.text.fill",
        stylers: [ { color: "#ffffff" } ]
      }, {
        featureType: "road.highway",
        elementType: "labels.text.stroke",
        stylers: [ { color: "{{ ondrej.get_color }}" }, { "weight": 8 } ]
      }, {
        featureType: "road.local",
        elementType: "labels.text.fill",
        stylers: [ { color: "#4a4a4a" } ]
      }, {
        featureType: "transit.line",
        elementType: "geometry",
        stylers: [ { color: "#575757" } ]
      }, { featureType: "water",
        elementType: "geometry",
        stylers: [ { color: "#8f8f8f" } ]
      }, {
        featureType: "water",
        elementType: "labels.text",
        stylers: [ { color: "#ffffff" } ]
      }
    ],{name: 'Styled Map'});
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 49.43105760620767, lng: 15.214682200551},
    zoom: 15,
    disableDefaultUI: true,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map']
    }
  });
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');
}

$(function(){
    if(window.location.hash){
        scroll_to_hash(window.location.hash);
    };
    scroll_to_hash(window.location.hash);

    {% for work in work_list %}
    work_gall[{{ forloop.counter0 }}] = new Image();
    work_gall[{{ forloop.counter0 }}].src = "{{ work.photo.url }}";
    work_text_h[{{ forloop.counter0 }}] = "{{ work.name }}";
    work_text_p[{{ forloop.counter0 }}] = "{{ work.description }}";
    {% endfor %}

    refresh_colors();
    next_work();
    $(window).resize(function() {
        window.location.hash = window.location.hash;
        refresh_colors();
    });
    $('body, section').scroll(function() {
        refresh_colors();
    });
    $('section').waypoint
    $('#gall, #square').on('click',function() {
        next_work();
    });
    $('#menu a').on('click', function(event){
        var hash = this.hash;
        if (!$(this).hasClass('active')){
            event.preventDefault();
            scroll_to_hash(hash);
        }
    });
});
    </script>
    <div id="header_wrap">
        <div id="header">
            <div id="logo_wrap" class="refresh_colors">
                <h1 id="logo" class="gradient refresh_colors">nudni</h1>
                <div id="logo_dot" class="refresh_colors"></div>
            </div>
            <div id="menu" class='gradient refresh_colors'>
                <a href="#prace" class="active" >práce</a>
                <a href="#my" style="margin: 10px">my</a>
                <a href="#nuda">nuda</a>
            </div>
        </div>
    </div>
    <section id="prace">
        <div class="wrap">
            <!-- <h1 class="gradient refresh_colors">poslední práce</h1> -->
            <div class="frame refresh_colors">
                <div id="gall">
                </div>
                <div id="square" class="text refresh_colors">
                  <div class="content">
                    <h2 id="text_h"></h2>
                    <p id="text_p"></p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section id="my">
        <div class="wrap" style="width:90%">
            <div id="lenka" class="umelec">
                <img src="{{ lenka.photo.url }}">
                <h3>{{ lenka.full_name }}</h3>
                <p>{{ lenka.intro }}</p>
                {% if lenka.present %}
                <div class="dot" style="background-color: {{ lenka.color }}"></div>
                {% endif %}
            </div>
            <div id="ondrej" class="umelec">
                <img src="{{ ondrej.photo.url }}">
                <h3>{{ ondrej.full_name }}</h3>
                <p>{{ ondrej.intro }}</p>
                {% if ondrej.present %}
                <div class="dot" style="background-color: {{ ondrej.color }}"></div>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="nuda">
        <div class="wrap">
            <div class="frame refresh_colors">
              <div id="nuda_wrap">
                <div id="nuda_text" class="text refresh_colors">
                    <p>Náš prostor. Místo pro tvorbu, střetávání podnětů i sociální interakci.<br />To je<br />NUDA<br />Kreativní prostor<br />NUDA</p>
                    <p>V Pejru na Pražský</p>
                    <p>nebudte@nudni.cz.</p>
                </div>
                <!-- <div id="map_obal"> -->
                <div id="map"></div>
                <!-- </div> -->
              </div>
            </div>
        </div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnyV72i-TsAm_efnOmBqAORgS7HiEE3go&callback=initMap" async defer></script>
</body>
</html>
