@font-face {
    font-family: Vision;
    src: url("../otf/Vision-Regular.otf") format("opentype");
}
html {
    height: 100%;
}
body {
    background-color: #fafafa;
    font-family: Raleway; 
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
#header {
    width: 84%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
#header_wrap {
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 100px;
}
#header_wrap,h1,h3 {
    font-family: Vision;
}
h3 {
    font-size: 1.5em;
}
h2 {
    margin-top: 0px;
    font-size: 1.5em;
}
h1 {
    font-weight: normal;
    font-size: 2em;
    margin: 0px;
}
#logo {
    vertical-align: bottom;
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    margin: 3px 5px -7px 7px
}
#logo_wrap {
    display: inline-block;
    padding: 3px;
}
#menu {
    display: inline-block;
    float: right;
}
.active {
    font-size: 2em;
}
a {
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
}
#prace {
    width: 100%;
    background-color: #fafafa;
}
#gap {
    height: 100px;
    background-color: #fafafa;
}
.shadow {
    box-shadow: 0px 10px 8px #222;
}
section {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.wrap {
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}
#kontakt {
    padding-top: 50px;
    background-color: #4d4d4d;
    color: #fafafa;
    text-align: center;
}
.kontakt {
    width: 300px;
    min-width: 40%;
    display: inline-block;
    padding: 2% 2%;
}
.kontakt img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#lenka {
    text-align: center;
    vertical-align:top;
}
#ondrej {
    text-align: center;
    vertical-align:top;
}
#frame {
    padding: 14px;
    width: calc(100%-28px);
    height: 70%;
}
.dot {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
}
@media screen and (orientation:landscape) {
    #gall{
        display: inline-block;
        margin: 7% 0% 7% 10%;
        width: 50%;
        vertical-align: middle;
    }
    #gall img{
        width: 100%;
        box-shadow: 10px 10px 8px #222;
    }
    #text{
        padding: 2% 0px;
        display: inline-block;
        width: 30%;
        float: right;
        position: relative;
        top:20vh;
        right: -50px;
        background-color: #fafafa;
        text-align: center;
    }
}
@media screen and (orientation:portrait) {
    #gall{
        margin: 0 auto;
        margin-top: 3%;
        width: 80%;
    }
    #gall img{
        width: 100%;
        box-shadow: 10px 10px 8px #222;
    }

    #text{
        padding: 0% 7%;
        width: 60%;
        margin: 0 auto;
        background-color: #fafafa;
        text-align: center;
        position: relative;
        bottom: -50px;
    }
}